.container {
  dispaly: flex;
  flex-direction: column;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  color: white;
  margin: 20px;
  font-family: sans-serif;
}
